streamlit
streamlit-audiorecorder

numpy<2
pandas
scipy
soundfile
librosa

torch
torchvision

nemo_toolkit[asr]==2.4.0
hydra-core
omegaconf
sentencepiece
huggingface_hub

networkx
matplotlib
requests
