streamlit
streamlit-audiorecorder

numpy==1.26.4
pyarrow<21
pandas
scipy
soundfile
librosa

torch
torchvision
torchaudio

nemo_toolkit[asr] @ git+https://github.com/AI4Bharat/NeMo.git@nemo-v2

hydra-core
omegaconf
sentencepiece
huggingface_hub

networkx
matplotlib
requests
